Django==1.6.2
django-polymorphic==0.6.1
pytest==2.6.4
Pygments==1.6
South==0.8.4
braintree==2.27.0
cssselect==0.9.1
distribute==0.6.24
django-hstore==1.3.5
django-registration==1.0
djangorestframework==2.3.8
ipython==1.2.1
jsonrpclib==0.1.3
lxml==3.2.4
mistune==0.4.1
mock==1.0.1
model-mommy==1.2
psycopg2==2.5.4
requests==2.2.1
six==1.3.0
sorl-thumbnail==11.12
pytest-django==2.7.0
