{% extends "base_title.html" %}

{% block title %}{{ activity.name }}{% endblock %}

{% block container %}
    <div class="activity-title">
        {% block titlesection %}
            <h1>{{ campaign.name }}</h1>
            <div class="activity-creator">by {{ campaign.user.username }}</div>
        {% endblock titlesection %}
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-xs-8">
                <p>{{ campaign.description }}</p>
            </div><!-- /.col -->
            <div class="col-xs-4 activity-right">
                <div class="activity-right-body">
                    <div class="activity-value">{{ campaign.get_number_of_participants }}</div>
                    <div class="activity-unit">participant(s)</div>
                    <div class="activity-value">{% if campaign.get_total_pledge_amount %}{{ campaign.get_total_pledge_amount }}{% else %}0{% endif %} {{ campaign.get_currency_display }}</div>
                    <div class="activity-unit">pledged of {{ campaign.goal }}
                    {{ campaign.get_currency_display }} goal</div>
                    <div class="activity-value">{{ campaign.days_left }}</div>
                    <div class="activity-unit">days to go</div>

                    {% if not campaign.completed %}
                    <div class="text-center">
                        <a href="{% url 'select_payment' campaign.key %}"
                           class="pledge-btn btn btn-primary">{% if pledge_button_text %}{{ pledge_button_text }}{% else %}Pledge now{% endif %}</a>
                        {{ campaign.pledge_value }} {{ campaign.get_currency_display }}
                        minimum pledge
                    </div>
                    {% else %}
                        <div class="text-center">
                        <a href="" disabled="disabled" class="pledge-btn btn btn-primary">Pledge now!</a>
                        This activity was completed. Pledging is disabled.
                    </div>
                    {% endif %}

                    {% for method in methods %}
                        {{ method.display_name }}
                    {% endfor %}
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.well -->
{% endblock container %}

{% block templates %}{% endblock templates %}

{% block extra_scripts %}{% endblock extra_scripts%}