{% extends "base.html" %}

{% block title %}Yeah Let's Do That{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1 style="font-family: Viga, sans-serif;">Yeah Let's Do That</h1>

                <p><em>Yeah Let's Do That</em> is a crowd-funding platform for small
                user-groups (e.g. non-profits,
                  <a href="http://en.wikipedia.org/wiki/Makerspace">maker-spaces</a>, and
                  <a href="http://hackerspaces.org/">hacker-spaces</a>).</p>
                <p>It helps those groups to finance their endeavours together.
                <em>Yeah Let's Do That</em> is open-source and it runs on your own server
                  (hosted options might by available in the future). You can
                <a href="https://github.com/uwekamper/yeahletsdothat/">see the code on Github</a>
                and there is also an
                  <a href="https://github.com/uwekamper/YeahLetsAndroidThat/">Android app available</a>.</p>

                <p>
                    <a class="btn btn-lg btn-primary" href="/yeah/"
                       role="button"><span class="glyphicon glyphicon-heart"></span>
                        Look at some campaigns</a>
                </p>
            </div>
        </div>
        <!-- /.col -->
    </div><!-- /.row -->

{% endblock container %}