{% extends "base_title.html" %}

{% block title %}New campaign{% endblock %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block titlesection %}
    <h1>Create a New Campaign</h1>
{% endblock titlesection %}

{% block main-content %}

    {% verbatim %}
    <div ng-controller="new_campaign">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12" id="crumbs_container">
            <ul class="process">

                <li ng-class="{active: active_tab == 'basic', done: basic_done}"><a href="#" ng-click="active_tab='basic'">
                    <div class="circled">
                    <div class="circled-text">
                        <span ng-if="basic_done == true" class="glyphicon glyphicon-ok"></span>
                        <span ng-if="basic_done != true">1</span>
                    </div>
                    </div>Basic Information</a></li>

                <li ng-class="{active: active_tab == 'perks', done: perks_done}"><a href="#" ng-click="active_tab = 'perks'"><div class="circled"><div class="circled-text">2</div></div>Add Perks</a></li>
                <li ng-class="{active: active_tab == 'duration', done: duration_done}"><a href="#" ng-click="active_tab = 'duration'"><div class="circled"><div class="circled-text">3</div></div>Start Date and Duration</a></li>
            </ul>
        </div>
    </div><!-- /.row -->
    {% endverbatim %}
    <div class="row">
        <div class="col-xs-12">

            <form role="form" class="form" method="post" ng-switch="active_tab">
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% csrf_token %}
                {{ form.media }}


                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                     <hr/>

                {% endif %}
                <div ng-switch-when="basic">
                    <div class="form-group">
                        <label for="id_name">Title</label>
                        <input type="text" class="form-control" id="id_name" name="name"
                            placeholder="Please enter a short, meaningful title for the campaign"
                            value="{{ form.name.value|default:'' }}">
                        {% if form.name.errors %}<span class="help-inline">{{ form.name.errors.as_text }}</span>{% endif %}
                    </div>

                    {% if form.description.errors %}
                        <div class="alert-danger alert">{{ form.description.errors }}</div>
                    {% endif %}
                    <div class="form-group">
                        <label for="id_description">Campaign Description
                            <small>You can use Markdown syntax</small>
                        </label>
                        <textarea type="text" class="form-control" id="id_description" name="description" rows="4"
                            placeholder="Enter a short description about your activity.">{{ form.description.value|default:'' }}</textarea>
                    </div>

                    <hr />
                </div><!-- /ng-switch-when: basic -->

                <!-- ### Perks ### -->
                <div ng-switch-when="perks">
                    <h3>How much money are you raising?</h3>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="id_goal">Your goal (total amount)</label>
                                <input type="text" class="form-control" id="id_goal"
                                       placeholder="0.00" name="goal"
                                       value="{{ form.goal.value|default:'' }}">
                                {% if form.goal.errors %}<span class="help-inline">
                                    {{ form.goal.errors.as_text }}</span>{% endif %}
                            </div>

                            <div class="form-group">
                                <label for="id_pledge_value">Minimum amount per pledge</label>
                                <input type="text" class="form-control" id="id_pledge_value"
                                       placeholder="0.00" name="pledge_value"
                                       value="{{ form.pledge_value.value|default:'' }}">
                                {% if form.goal.errors %}<span class="help-inline">
                                    {{ form.goal.errors.as_text }}</span>{% endif %}
                            </div>

                        </div><!-- /.col -->


                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="id_currency">Currency</label>
                                {{ form.currency }}
                            </div>
                            <div class="form-group">
                                <label for="id_target_account">Target account</label>
                                {{ form.target_account }}
                            </div>

                        </div><!-- /.col -->
                    </div><!-- /.row -->

                    <div class="form-group">
                        <label for="id_min_people">Minimum Number of People</label>
                        <input type="text" class="form-control" id="id_min_people"
                               placeholder="0" name="min_people"
                               value="{{ form.min_people.value|default:'' }}">
                        {% if form.min_people.errors %}<span class="help-inline">
                            {{ form.min_people.errors.as_text }}</span>{% endif %}
                    </div>

                    <div class="form-group">
                        <label for="id_max_people">Maximum Number of People</label>
                        <input type="text" class="form-control" id="id_max_people"
                               placeholder="0" name="max_people"
                               value="{{ form.max_people.value|default:'' }}">
                        {% if form.max_people.errors %}<span class="help-inline">
                            {{ form.max_people.errors.as_text }}</span>{% endif %}
                    </div>
                    <hr />

                </div><!-- /ng-switch-when: perks -->

                <div ng-switch-when="duration">
                    <h3>When should it start and when does it end?</h3>

                    <div class="form-group">
                        <label for="id_start_date">Start Date and Time</label>
                        <div id="startdate-datepicker" class="input-group date">
                            <input data-format="YYYY-MM-DD hh:mm" type="text" class="form-control" id="id_start_date"
                                   placeholder="" name="start_date"
                                   value="{{ form.start_date.value|default:'' }}">

                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        {% if form.start_date.errors %}<span class="help-inline">
                            {{ form.start_date.errors.as_text }}</span>{% endif %}
                    </div>

                     <div class="form-group">
                        <label for="id_end_date">End Date and Time</label>
                        <div id="enddate-datepicker" class="input-group date">
                            <input data-format="YYYY-MM-DD hh:mm" type="text" class="form-control" id="id_start_date"
                                   placeholder="" name="end_date"
                                   value="{{ form.end_date.value|default:'' }}">

                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        {% if form.start_date.errors %}<span class="help-inline">
                            {{ form.start_date.errors.as_text }}</span>{% endif %}
                    </div>

                    <!-- Name -->
                    <div class="form-group">
                        <label for="id_is_private">Is private?</label>
                        <label class="checkbox-inline" for="id_is_private">
                          <input type="checkbox" name="is_private" id="id_is_private" value="1">
                          Private
                        </label>
                        {% if form.is_private.errors %}<span class="help-inline">{{ form.is_private.errors.as_text }}</span>{% endif %}
                    </div>

                </div><!-- /ng-switch-when: duration -->


                <input type="submit" class="btn btn-primary" value="Submit"/>
                {% verbatim %}{{ active_tab }}{% endverbatim %}
            </form>

    </div><!-- /.col -->
    </div><!-- /.row -->

    </div><!-- /ng-controller:index --->
{% endblock main-content %}

{% block templates %}

{% endblock templates %}

{% block extra_scripts %}
    <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js" type="text/javascript"></script>
    <!--<script src="{{ STATIC_URL }}bower_components/moment/moment.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>-->
    <script src="{{ STATIC_URL }}js/new_campaign.js" type="text/javascript">
{#    $(function () {#}
{#        $('#startdate-datepicker').datetimepicker();#}
{#        $('#enddate-datepicker').datetimepicker();#}
{#    });#}


    </script>
{% endblock extra_scripts %}