{% extends "base.html" %}

{% block container %}
    <div id="app-view"></div>
{% endblock %}

{% block templates %}
    {% verbatim %}

    {% endverbatim %}
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/_jsx/new_activity.views.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/new_campaign.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Backbone.history.start();
        });
    </script>
{% endblock %}