{% extends "base_title.html" %}

{% block titlesection %}
<h1>User Profile</h1>
<div class="activity-creator">This is your personal profile</div>
{% endblock titlesection %}

{% block main-content %}
<div class="row">
    <div class="col-xs-12">
        <h2>Your Bank Accounts</h2>
        {% if accounts %}
             <ul id="account-list">
            {% for account in accounts %}
                <li>{{ account }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You did not add any bank accounts, yet.</p>
        {% endif %}

        <a class="btn btn-primary"
           href="{% url 'manage_bankaccounts' %}">Manage your accounts</a>

        <h2>Activities That You Started</h2>

        {% if campaigns %}
            <ul id="account-list">
            {% for campaign in campaigns %}
                <li><a href="{% url 'campaign_details' campaign.key %}">{{ campaign.name }}</a>
                {% if campaign.is_private %}<abbr title="This campaign is private"><span class="glyphicon glyphicon-lock"></span></abbr>{% endif %}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You did no start any activities, yet.</p>
        {% endif %}

        <a class="btn btn-primary"
           href="{% url 'new_activity' %}">Create a new activity</a>


    </div>
</div>
{% endblock main-content %}