{% extends "base_title.html" %}
{% load i18n %}
{% block titlesection %}
<h1>User Profile</h1>
<div class="activity-creator">This is your personal profile</div>
{% endblock titlesection %}

{% block main-content %}
<div class="row">
    <div class="col-xs-12">
        <h2>{% trans "Your Campaigns at a Glance" %}</h2>

        <a class="btn btn-primary"
           href="{% url 'campaign_new' %}">Create new campaign</a>

        {% if campaigns %}
            {% for campaign in campaigns %}
              <div class="well">
                <div>
                  <h3>{{ campaign.title }}</h3>

                  <p>{% if campaign.completed %}

                    Campaign is completed

                  {% else %}

                    {% if campaign.has_started %}
                      {% blocktrans with start=campaign.start_date end=campaign.end_date %}Campaign has started
                        on {{ start }} and will end on {{ end }}{% endblocktrans %}
                    {% else %}
                      {% blocktrans with start_date=campaign.start_date %}Campaign will start
                        on {{ start_date }}.{% endblocktrans %}
                    {% endif %}

                  {% endif %}</p>

                  {% if campaign.is_private %}<span class="glyphicon glyphicon-lock"></span>{% trans "This is a private campaign" %}{% endif %}
                  <br />
                  {% trans "Number of supporters" %}:
                  {{ campaign.state.total_supporters }} ({{ campaign.state.pending|floatformat:-2 }} {{ campaign.get_currency_display }} still pending, {{ campaign.state.total_incomplete }} incomplete transactions)

                  <br />
                  Funding status:<br />
                  <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="{{ campaign.state.percent_funded }}"
                         aria-valuemin="0" aria-valuemax="100"
                         style="min-width: 2em; width:{{ campaign.state.percent_funded|floatformat }}%;">
                      {{ campaign.state.percent_funded|floatformat:-2 }}%
                    </div>
                  </div>

                  <p></p>
                </div>
                <div>
                  <a href="{% url 'campaign_details' campaign.key %}">View campaign on public page …</a>
                  <a class="btn btn-default pull-right" href="{% url 'campaign_edit' campaign.key %}">{% trans "Edit"%}</a>
                  <a class="btn btn-default pull-right" href="{% url 'campaign_show_transactions' campaign.key %}">{% trans "Show transactions" %}</a>
                  <p class="clearfix"></p>
                </div>
              </div>

            {% endfor %}
        {% else %}
            <p>You did no start any activities, yet.</p>
        {% endif %}


    </div>
</div>
{% endblock main-content %}