<div ng-include src="'/static/partials/progress_menu.html'"></div>

<h3>When should it start and when does it end?</h3>

<div class="form-group">
    <label for="id_start_date">Start Date and Time</label>
    <div id="startdate-datepicker" class="input-group date">
        <input data-format="YYYY-MM-DD hh:mm" type="text" class="form-control" id="id_start_date"
               placeholder="" name="start_date"
               value="{{ form.start_date.value }}">

        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    {% if form.start_date.errors %}<span class="help-inline">
        {{ form.start_date.errors.as_text }}</span>{% endif %}
</div>

 <div class="form-group">
    <label for="id_end_date">End Date and Time</label>
    <div id="enddate-datepicker" class="input-group date">
        <input data-format="YYYY-MM-DD hh:mm" type="text" class="form-control" id="id_start_date"
               placeholder="" name="end_date"
               value="{{ form.end_date.value }}">

        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    {% if form.start_date.errors %}<span class="help-inline">
        {{ form.start_date.errors.as_text }}</span>{% endif %}
</div>

<!-- Name -->
<div class="form-group">
    <label for="id_is_private">Is private?</label>
    <label class="checkbox-inline" for="id_is_private">
      <input type="checkbox" name="is_private" id="id_is_private" value="1">
      Private
    </label>
    {% if form.is_private.errors %}<span class="help-inline">{{ form.is_private.errors.as_text }}</span>{% endif %}
</div>