<div ng-include src="'/static/partials/progress_menu.html'"></div>

<div class="row">
    <div class="col-md-12">

    <div ng-repeat="perk in model.perks">
        <div class="col-md-2">
            <h3>{{ perk.title }}</h3>
            {{ perk.amount }}<br />
            <input type="text" ng-model="perk.title" /><br />
            <input type="text" ng-model="perk.amount" />
            <a ng-click="delete_perk($index)">Delete</a>
        </div>
    </div>

    </div><!-- /.col -->

    <button class="btn btn-default" ng-click="add_perk()">Add</button>
    <pre>{{ model }}</pre>

</div><!-- /.row -->

