body {
    background: #F79C33;
}

.activity-title {
    text-align: center;

}

.activity-title h1 {

}

.activity-title div.by {

}

.activity-body {
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.activity-body p {
    padding: 5px;
}

.activity-right {
    border-left: 1px solid #e0e0e0;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    #background-color: #e8e8e8;
}

.activity-right-body {

    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
}

.activity-value {
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 36px;
    font-weight: bold;
}
.activity-unit {
    padding: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top:0px;
    font-size: 14px;
    font-weight: bold;
}

.pledge-btn {
    margin-top: 50px;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
}
