{% extends "base.html" %}

{% block container %}
    <div class="row">
        <div class="col-xs-12">
            <h1>New Activity</h1>
        </div><!-- /.col -->
    </div><!-- /.row -->
     <div id="app-view"></div>
{% endblock %}

{% block templates %}
    {% verbatim %}

    {% endverbatim %}
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/_jsx/new_activity.views.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/new_activity.main.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            Backbone.history.start();
        });
    </script>
{% endblock %}