{% extends "base.html" %}

{% block container %}
    <div class="row well">
        <div class="col-md-2 text-center">
            Activity
        </div>
        <div class="col-md-1 text-center">
            <i class="glyphicon glyphicon-hand-right"></i>
        </div>
        <div class="col-md-2">
            Headcount
        </div>
        <div class="col-md-1 text-center">
            <i class="glyphicon glyphicon-hand-right"></i>
        </div>
        <div class="col-md-2 text-center">
            Price
        </div>
        <div class="col-md-1 text-center">
            <i class="glyphicon glyphicon-hand-right"></i>
        </div>
        <div class="col-md-2 text-center">
            Time &amp; Date
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>{% block step_title %}{% endblock %}</h1>
        </div>
    </div>
    <div class="row">
        <div id="form_content" class="well"></div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-lg">
                <span class="glyphicon glyphicon-chevron-left"></span> Back
            </button>
        </div>
        <div class="col-md-2 col-md-offset-8 text-right">
            <button type="button" class="btn btn-default btn-lg">
                Next <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
{% endblock %}

{% block templates %}
    {% verbatim %}
     <script type="text/template" id="base_template">
        <form class="form" role="form">
            <div class="form-group">
                {{>form}}
            </div>
        </form>
        <a href="#/{{next}}" class="btn btn-default">Weiter</a>
    </script>

    <script type="text/template" id="details_template">
        <label for="inputEmail1">What do you plan on doing?</label>
        <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
    </script>

    <script type="text/templat  e" id="head_count_template">
        <label for="inputEmail1">How many people?</label>
        <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
    </script>
    {% endverbatim %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>

    <script type="text/javascript">

        var DescriptionView = Backbone.View.extend({
            el: '#form_content',
            render: function() {
                var data = {next: 'head_count'};
                var template = $('#base_template').html();
                var partials = {form: $('#details_template').html()};
                var html = Mustache.to_html(template, data, partials);
                this.$el.html(html);
            }
        });

        var HeadCountView = Backbone.View.extend({
            el: '#form_content',
            render: function() {
                var data = {next: ''};
                var template = $('#base_template').html();
                var partials = {form: $('#head_count_template').html()};
                var html = Mustache.to_html(template, data, partials);
                this.$el.html(html);
            }
        });

        var Router = Backbone.Router.extend({
            routes: {
                '': 'home',
                'head_count': 'head_count'
            }
        });

        var description_view = new DescriptionView();
        var head_count_view = new HeadCountView();
        var router = new Router();

        router.on('route:home', function() {
            description_view.render();
        });

        router.on('route:head_count', function() {
            head_count_view.render();
        })

        Backbone.history.start();
    </script>
{% endblock %}