{% extends "base.html" %}

{% block title %}New Activity{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-xs-12">
            <h1>Start Your Pledge</h1>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-xs-12">
            <div class="activity-body">
                <h2>You are about to pledge for:</h2>
                <p class="activity-name">&quot;{{ activity.name }}&quot;</p>

                <form role="form" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-primary" />
                </form>


            </div>

        </div><!-- /.col -->
    </div><!-- /.row -->

{% endblock container %}