{% extends "base_title.html" %}

{% block title %}Pay with Braintree{% endblock %}

{% block titlesection %}
    <h1>Braintree Credit Card Transaction Form</h1>
{% endblock titlesection %}

{% block main-content %}
    <div>
        <form method="POST" id="braintree-payment-form">
            {% csrf_token %}
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
            {% if braintree_error %}
                <div class="alert alert-danger">
                    {{ braintree_error }}
                </div>
            {% endif %}
            <p>
                <label for="id_number">Card Number</label>
                <input id="id_number" value="" type="text" size="20" autocomplete="off"
                       data-encrypted-name="number"/>
                4111111111111111
            </p>

            <p>
                <label for="id_cvv">CVV</label>
                <input id="id_cvv" value="" type="text" size="4" autocomplete="off"
                       data-encrypted-name="cvv"/>
            </p>

            <p>
                <label for="id_month">Expiration (MM/YYYY)</label>
                <input id="id_month" value="" type="text" size="2" data-encrypted-name="month"/>
                / <input value="" type="text" size="4" data-encrypted-name="year"/>

                11/2015
            </p>

            <input class="btn btn-primary" type="submit" id="submit"/>
        </form>
    </div>
{% endblock main-content %}

{% block templates %}{% endblock templates %}

{% block extra_scripts %}
<script type="text/javascript" src="https://js.braintreegateway.com/v1/braintree.js"></script>
<script type="text/javascript">
    var braintree = Braintree.create("{{ client_side_encryption_key }}");
    braintree.onSubmitEncryptForm('braintree-payment-form');
</script>
{% endblock extra_scripts%}